<h2>All your Restaurants</h2>

<div class="well">
	<h3>You have a total of XX reservations - better get shit done!</h3>
</div>

 <% @restaurant.each do |restaurant| %>
 	<% if current_owner == restaurant.owner %>
 		<p>	
			<%= restaurant.name %>
			<%= restaurant.description %>
			<%= restaurant.city %>

			<%= restaurant.reservations.each do |reservation| %>
				<p>
					<%= reservation.guestname %> |
					<%= reservation.guestemail %> |
					<%= reservation.reserve_on %>
				</p>
			<% end %>
		</p>
	<% end %>

<% end %>