<%- model_class = Owner -%>
<script
type="text/javascript"
src="http://maps.google.com/maps/api/js?sensor=false">
</script>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
      <ul class="thumbnails">
        <% @restaurants.each do |restaurant| %>
          <li class="span4">
            <%= link_to owner_restaurant_path(current_owner, restaurant) do %>
              <%= image_tag restaurant.photo.thumbnail.url if restaurant.photo? %>
              <h3><%= restaurant.name %><h3>
            <%- end %>
          </li>
        <% end %>
      </ul>

<% if owner_signed_in? %>
  <%= link_to 'New Restaurant', new_owner_restaurant_path(current_owner), :class => 'btn' %>
<% end %>