<%= form_for @reservation, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.email_field :email, :class => 'text_area', :"data-required" => "true", :"data-type" => 'email', :"required" => "true" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :message, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :message, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :booking_time, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :booking_time, :id => 'bookingTime', :"data-required" => "true", :class => "required", :"required" => "true" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                reservations_path, :class => 'btn' %>
  </div>
<% end %>
