<% if current_user.try(:is_owner?) %>
<% information = [current_user, @restaurant, @reservation] %>
<% else %>
<% information = [@restaurant, @reservation] %>
<% end %>

<%= form_for(information) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :email %>
    <div class="controls">
      <%= f.email_field :email %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :date_time %>
    <div class="controls">
    <div class='input-append bootstrap-timepicker-component' style='display: inline;'>	
      <%= f.text_field :date_time %>
    </div>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :message %>
    <div class="controls">
      <%= f.text_field :message %>
    </div>
  </div>

  <div class="control-group">
    <%= f.submit :class => 'btn' %>
  </div>
<% end %>