<%= form_for([@restaurant,@reservation]) do |f| %>
<% if @reservation.errors.any? %>
	<div id="error_explanation">
		<h4><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h4>

		<ul>
			<% @reservation.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<div class="control-group">
<%= f.label :email %>
	<div class="controls">
	<%= f.email_field :email %>
	</div>
</div>

<div class="control-group">
<%= f.label :reserve_on %>
	<div class="controls">
	<%= f.datetime_select :reserve_on %>
	</div>
</div>

<div class="control-group">
<%= f.label :message %>
	<div class="controls">
	<%= f.text_field :message %>
	</div>
</div>


<div class="control-group">
	<div class="controls">
		<%= recaptcha_tags %>
	</div>
</div>

<div class="control-group">
	<%= f.submit :class => 'btn' %>
</div>


<% end %>