<%= form_for([@restaurant, @reservation]) do |f| %>
  <% if @reservation.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

        <ul>
        <% @reservation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.email_field :email, :class => 'text_area', :"data-required" => "true", :"data-type" => 'email', :"required" => "true" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :message, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :message, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :booking_time, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :booking_time, :id => 'bookingTime', :"data-required" => "true", :class => "required", :"required" => "true" %>
    </div>
  </div>

   <div class="control-group">
    <%= f.submit :class => 'btn' %>
  </div>

<% end %>
