    <p>
    	<%= builder.label :email, "Your Email" %><br />
    	<%= builder.text_field :email %><br />
    	<%= builder.label :date_time, "Desired Time" %><br />
    	<%= builder.text_field :date_time %><br />
    	<%= builder.label :message, "Message to Restaurant" %><br />
    	<%= builder.text_area :message %><br />
    	<%= builder.check_box :_destroy %>
    	<%= builder.label :_destroy, "Remove Reservation" %>
    </p>