<%- model_class = Reservation -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>

<div>

  <%= form_for @reservation, :html => { :multipart => true, :class => 'form-horizontal' } do |f| %>

  <div class="control-group">
  	    <%= f.label 'Choose a date:', :class => 'control-label' %>
    <div class="controls">
        <%= f.text_field :reserved_on %>
    </div>
  </div> 

  <div id="reservedOnBox" type="text/html"></div>
  <script id="reservedOn" type="text/javascript">
    {{dateData}}

  <% @reservations.each do |reservation| %>
    <% if reservation.taken == false && reservation.reserved_on != '{{dateData}}' %>

        <div class="control-group">
	      <%= f.label reservation.r_time, :class => 'control-label' %>

	      <div class="controls">
	      	<% if @reservations.first == reservation %>
	      	<%= radio_button_tag :r_time, reservation.r_time, true %>
	      	<% else %>
	        <%= radio_button_tag :r_time, reservation.r_time %>
	        <% end %>
	      </div>

	    </div>
	    <%= hidden_field_tag :restaurant_id, @restaurant.id %>
	<% end %>
  <% end %>
  <div class="control-group">
    <%= f.label 'Your name:', :class => 'control-label' %>

    <div class="controls">
      <input class="text_field" id="reservation_anon_name" name="reservation[anon_name]" size="30" type="text" required="true">
    </div>

  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                reservations_path, :class => 'btn' %>
  </div>

  <% end %>

  </script>
</div>