<h1>Reservations</h1>
<%= form_for @reservation do |f| %>
	<% if @reservation.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited
      this reservation from being saved:</h2>
    <ul>
    <% @reservation.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
 <p>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
 </p>
 <p>
    <%= f.label :date %><br>
    <%= f.date_select :date %>
 </p>
 <p>
    <%= f.label :time %><br>
    <%= f.time_select :time, {ampm: true} %>
 </p>
 <p>
    <%= f.label :message %><br>
    <%= f.text_area :message %>
 </p>
<p>
    <%= f.submit %>
  </p>
  <p>
  	<%= f.hidden_field :restaurant_id, value: params[:restaurant_id] %>
  </p>
  <% end %>