<%- model_class = Reservation -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @reservation.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:message) %>:</strong></dt>
  <dd><%= @reservation.message %></dd>
  <dt><strong><%= model_class.human_attribute_name(:booking_time) %>:</strong></dt>
  <dd><%= @reservation.booking_time %></dd>
  <dt><strong><%= model_class.human_attribute_name(:restaurant_name) %>:</strong></dt>
  <dd><%= @reservation.restaurant_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:restaurant_id) %>:</strong></dt>
  
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              reservations_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_reservation_path(@reservation), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              reservation_path(@reservation),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
