<%= form_for ([@owner, @restaurant]), :html => {:multipart => true} do |f| %>
   <%= render "shared/error_messages", :target => @restaurant %>
  
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field', :class=> 'required', :"data-required" =>'true', :required => 'true' %>
    </div>
  </div>

    <div class="control-group">
    
    <% Category.all.each do |category| %>
      <%= check_box_tag "restaurant[category_ids][]", category.id, @restaurant.categories.include?(category) %>
      <%= category.name %> <br>
    <% end %>
  </div>

  <div class="control-group">
    <div class="controls">
    <%= f.label :description, :class => 'control-label' %>
    
      <%= f.text_area :description, :class => 'text_area' %>
      <%= f.label :address, :class => 'control-label' %>
      <%= f.text_field :address, :class => 'text_area' %>
      
      <label for="address2">Address 2</label>
      <%= f.text_field :address2, :class => 'text_area' %>

      <%= f.label :city, :class => 'control-label' %>
      <%= f.text_field :city, :class => 'text_area' %>

      <%= f.label :state, :class => 'control-label' %>
      <%= f.text_field :state, :class => 'text_area' %>

      <%= f.label :zipcode, :class => 'control-label' %>
      <%= f.text_field :zipcode, :class => 'text_area' %>

      <%= f.label :phone, :class => 'control-label' %>
      <%= f.text_field :phone, :class => 'text_field', :"data-type" => "phone" %>
      <%= f.label :image, :class => 'control-label' %>
      <%= f.file_field :image %>
    
      <%= f.label :menu, :class => 'control-label' %>
      <%= f.file_field :menu %>

    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                restaurants_path, :class => 'btn' %>
  </div>
<% end %>
