<%= form_for([@owner, @restaurant]) do |f| %>
	<% if @restaurant.errors.any? %>
		<div id="errorExplanation">
			<h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved;</h2>
			<ul>
				<% @restaurant.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<p>
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</p>

<!--
	<p>
		<%= f.collection_select :category_ids, 
			Category.all, :id, :name,

			{:prompt => @select_value, 
			 :selected => @restaurant.categories }
		%>
	</p>

	<p>
		<%= f.label :category_tokens, "Category:" %>
		<%= f.text_field :category_tokens, "data-pre" => @restaurant.categories.map(&:attributes).to_json %>
	</p>
-->
	<p>
		<%= f.select :category_ids,
  			Category.all.map { |u| [u.name, u.id] },
  			{ include_blank: true },
  			{ multiple: true, class: 'chzn-select' }
		%>
	</p>

	<p>
		<%= f.label :description %>
		<%= f.text_area :description %><br>
	</p>

	<p>
		<%= f.label :address %>
		<%= f.text_area :address %><br>
	</p>

	<p>
		<%= f.label :phone %>
		<%= f.text_field :phone %><br>
	</p>

	<p>
		<%= f.label "Upload restaurant picture" %>
    	<%= f.file_field :image %><br>
  	</p>

	<!--<p>
		<%= f.label :remote_image_url, "or image URL" %><br />
		<%= f.text_field :remote_image_url %>
	</p>
	-->

	<p>
		<%= f.label "Upload restaurant menu" %>
   		<%= f.file_field :menu %><br>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>	