<div class="page-header">
  <h1>Edit your Restaurant</h1>
</div>


<%= simple_form_for @restaurant, :url => {:action => 'update', :id => @restaurant.id}, :method => 'put', :html => {:class => 'form-horizontal', :multipart => true } do |f| %>
  <%= f.input :name %>
  <%= f.input :description, as: :text, input_html: { rows: "3" } %>
  <%= f.input :street %>
  <%= f.input :streetnumber %>
  <%= f.input :city %>
  <%= f.input :zipcode %>
  <%= f.input :country, as: :text, input_html: { rows: "1"} %>
  <%= f.input :phonenumber %>
  <p><%= image_tag(@restaurant.image_url(:thumb)) if @restaurant.image? %></p>
  <%= f.input :image %>  
  <%= f.input :remote_image_url %>
  <%= f.input :menue %>
  <%= f.button :submit, class: "btn btn-primary", value: "Update Restaurant" %>
<% end %>

