<div class="page-header">
  <h1>Edit your Restaurant</h1>
</div>
<%= form_for(:restaurant, :url => {:action => 'update', :id => @restaurant.id}, :method => 'put', :html => { :class => 'form-horizontal', :multipart => true}) do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :image, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :image, :class => 'image_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "URL Image Upload", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :remote_image_url, :class => 'image_area' %>
    </div>
  </div>  
  <div class="control-group">
    <%= f.label :menue, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :menue, :class => 'menue_area' %>
    </div>
  </div>    
  <div class="control-group">
    <%= f.label :street, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :street, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :streetnumber, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :streetnumber, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :city, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :city, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :zipcode, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :zipcode, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :state, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :state, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :country, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :country, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :phonenumber, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :phonenumber, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>

  </div>
<% end %>

