<%- model_class = Restaurant -%>

<div class="page-header">
    <h1>Find your Restaurant</h1> 
    <% if owner_signed_in? %>
      <%= link_to('Add Restaurant', {:action => 'new'}, :class => 'btn btn-primary') %>
    <% else %>
      <h4>
        <%= link_to "Login", new_owner_session_path %> | OR |
        <%= link_to "Register", new_owner_registration_path %> to create your own Restaurant
      </h4>
    <% end %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:image) %></th> 
      <th>Menu</th>           
      <th>Adress</th>
      <th><%= model_class.human_attribute_name(:phonenumber) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @restaurant.each do |restaurant| %>
      <tr>
        <td><%= link_to("Show", {:action => 'show', :id => restaurant.id}) %></td>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.description %></td>
        <td><%= link_to(image_tag(restaurant.image_url(:thumb).to_s), {:controller => 'restaurants', :action => 'show', :id => restaurant.id} ) %></td>
        <td><%= link_to('Menu', restaurant.menue_url.to_s, :target => '_blank') %></td>
        <td><%= restaurant.street %> 
        	<%= restaurant.streetnumber %>
          <%= restaurant.zipcode %>
          <%= restaurant.city %>
        </td>
        <td><%= restaurant.phonenumber %></td>
        <td><%=l restaurant.created_at %></td>
        <td> 
          <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= restaurant.latitude.to_s %>,<%= restaurant.longitude.to_s %>&amp;markers=<%= restaurant.latitude.to_s %>,<%= restaurant.longitude.to_s %>&amp;zoom=10&amp;size=300x200&amp;sensor=false"></img>
        </td>
        <td>
          <% if current_owner == restaurant.owner %>
          <%= link_to('Edit',	{:action => 'edit', :id => restaurant.id}, :class => 'btn btn-mini') %>
            <%= link_to 'Delete', {:action => 'destroy', :id => restaurant.id }, :method => 'delete' ,:confirm => 'Are you sure dude?', :class => 'btn btn-mini btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

