<h1>Listing Restaurants</h1>

<%= link_to 'Add a Restaurant',new_restaurant_path %>

<table>
  <tr>
    <th>Restaurant</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
  <% @restaurants.each do |post| %>
    <tr>
      <td><%= post.restaurant %></td>
      <td><%= post.description %></td>
      <td><%= link_to 'Show', restaurant_path(post) %></td>
      <td><%= link_to 'Edit', edit_restaurant_path(post) %></td>
    </tr>
  <% end %>
</table>