<h1>Restaurants</h1>

<table>
	<% @restaurants.each do |restaurant| %>
		<tr>			
			<td><%= link_to restaurant.name, restaurant_path(restaurant) %></td>

			<td><%= image_tag restaurant.image_url(:thumb).to_s if restaurant.image? %></td>

		<%- if current_owner == restaurant.owner && !current_owner.blank? %> 
			<td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
			<td><%= link_to 'Delete', restaurant_path(restaurant), method: :delete, data: { confirm: 'Are you sure you want to delete this restaurant?' } %></td>
		<%- end %>
		</tr>
	<% end %>
</table>
<br>
<%- if current_owner %>
	<%= link_to "Add new restaurant", new_owner_restaurant_path(current_owner) %>
<%-end %>
<br>
<h1>Restaurants by categories</h1>

<table>
	<% @categories.each do |cat| %>
		<tr>			
			<td><%= link_to cat.name, category_path(cat) %></td>
		</tr>
	<% end %>
</table>