<div class="page-header">
  <h1>Create a new Restaurant</h1>
</div>

<%= simple_form_for @restaurant, :url => {:action => 'create'}, :method => 'post', :html => {:class => 'form-horizontal', :multipart => true } do |f| %>
  <%= f.error_notification %>
  <%= f.input :name, label: 'Restaurant Name'  %>
  <%= f.input :description, as: :text, input_html: { rows: "3" } %>
  <%= f.input :street %>
  <%= f.input :streetnumber %>
  <%= f.input :city %>
  <%= f.input :zipcode %>
  <%= f.input :country, as: :text, input_html: { rows: "1"} %>
  <%= f.input :phonenumber %>
  <%= f.input :image, label: 'Upload an Image' %>  
  <%= f.input :remote_image_url, label: 'Or paste Image URL' %>
  <%= f.input :menue %>
  <%= f.association :categories, collection: Category.all(order: 'name'), prompt: "Choose one Category", as: :radio_buttons  %>
  
  <%= f.button :submit, class: "btn btn-primary", value: "Create Restaurant" %>
<% end %>






