<div class="page-header">
  <h1>Create a new Restaurant</h1>
</div>

<%= simple_form_for @restaurant, :url => {:action => 'create'}, :method => 'post', :html => {:class => 'form-horizontal', :multipart => true } do |f| %>
  <%= f.input :name %>
  <%= f.input :description, as: :text, input_html: { rows: "3" } %>
  <%= f.input :street %>
  <%= f.input :streetnumber %>
  <%= f.input :city %>
  <%= f.input :zipcode %>
  <%= f.input :country, as: :text, input_html: { rows: "1"} %>
  <%= f.input :phonenumber %>
  <%= f.input :image %>  
  <%= f.input :remote_image_url %>
  <%= f.input :menue %>
  <%= f.button :submit, class: "btn btn-primary", value: "Create the Session" %>
<% end %>






