<h1>New Restaurant</h1>
<%= form_for :post, url: restaurants_path do |f| %>
  <p>
    <%= f.label :restaurant %><br>
    <%= f.text_field :restaurant %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>

  <p>
  	<%= f.label :"Street Address 1" %><br>
  	<%= f.text_field :"Street Address 1"%><br>
  </p>
 
  <p>
  	<%= f.label :"Street Address 2" %><br>
  	<%= f.text_field :"Street Address 2"%><br>
  </p>

  <p>
  	<%= f.label :city %><br>
  	<%= f.text_field :city %><br>
  </p>

  <p>
  	<%= f.label :state %><br>
  	<%= f.text_field :state%><br>
  </p> 

  <p>
  	<%= f.label :zipcode %><br>
  	<%= f.text_field :zipcode%><br>
  </p> 

  <p>
  	<%= f.label :country %><br>
  	<%= f.text_field :country %><br>
  </p> 

  <p>
  	<%= f.label :"Phone number" %><br>
  	<%= f.text_field :"Phone number" %><br>
  </p> 

  <p>
    <%= f.submit %>
  </p>
<% end %>