<h1><%= @restaurant.name %></h1>

<p>
<%= image_tag @restaurant.image_url(:masterhead).to_s if @restaurant.image? %>
</p>

<p>
	<strong>Description:</strong>
	<%= @restaurant.description %>
</p>

<p>
	<strong>Address:</strong>
	<%= @restaurant.address %>
</p>

<p>
	<strong>Phone:</strong>
	<%= @restaurant.phone %>
</p>

<p>
	<strong>Owner:</strong>
	<%= @restaurant.owner.name if @restaurant.owner %>
<p>
	<strong>Menu:</strong>
<%= link_to @restaurant.menu, @restaurant.menu_url  if @restaurant.menu? %>
</p>

<%- if current_owner == @restaurant.owner %>
	<h2>Reservations</h2>
	<table>
		<tr>
			<th>Email</th>
			<th>Reservation time</th>
			<th>Message</th>
			<th>Owner</th>
		</tr>
		<%- @restaurant.reservations.each do |reservation| %>
		<tr>
			<td><%= reservation.email %></td>
			<td><%= reservation.requested_date%></td>
			<td><%= reservation.message %></td>
			<td><%= reservation.restaurant.owner.name %></td>
			<td><%= link_to 'Marked as Confirm', reservation_path(reservation), :method => :delete, data: { confirm: 'Do you want to mark this reservation as confirmed?'} %></td>
		</tr>
		<%- end %>
	</table>
<%- else %>
	<h2>Make a Reservation</h2>
	<%= render 'reservations/form', :reservation => @reservation %> 
<%- end %>

<%- if current_owner == @restaurant.owner && !current_owner.blank? %>
	<%= link_to 'Edit', edit_restaurant_path(@restaurant) %>
	<%= link_to 'Delete', restaurant_path(@restaurant), method: :delete, data: { confirm: 'Are you sure you want to delete this restaurant?' } %>
<%-end %>

<%= link_to 'Home', restaurants_path %>