<%- model_class = Restaurant -%>

<div class="page-header">

  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>

</div>

<table class="table table-striped">
  <thead>
    <tr></tr>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %>, 
      <%= model_class.human_attribute_name(:address) %>,
      <%= model_class.human_attribute_name(:description) %></th>
      <th style="width:200px;">Categories</th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      <th><%= model_class.human_attribute_name(:photo) %></th>
        <% if owner_signed_in? %>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
        <% end %>
      <th>
        Menu
      </th>
      <th>
        Location
      </th>
    </tr>
  </thead>
  <tbody>
        <tr>
        <td><strong><%= @restaurant.name %></strong><br/><br/>
        <%= @restaurant.address %><br/><br/>
        <%= @restaurant.description %></td>
        <td>
          <% for category in @restaurant.categories %>
            <%= link_to category do %>
                <%= category.name %> ( <%= category.restaurants.count %> )<br/>
            <% end %>
          <% end %>
        </td>
        <td><%= @restaurant.phone %></td>
        <td><%= image_tag @restaurant.photo_url(:masthead) %></td>
          <% if owner_signed_in? %>
        <td>
          <%= link_to "Edit Restaurant",
                      edit_restaurant_path, :class => 'btn btn-mini' %>
          <%= link_to "Delete Restaurant",
                      restaurant_path,
                      :method => :delete,                      
                      :data => { :confirm => 'Are you sure?' },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
          <% end %>
        <td>
          <% if not @restaurant.pdf.blank? %>
        <a href="<%= @restaurant.pdf %>">Download PDF of Menu</a>
          <% else %>
          No Menu Available.
          <% end %>
        </td>

        <td><img src='https://maps.googleapis.com/maps/api/staticmap?center=<%= @restaurant.latitude.to_s %>,<%= @restaurant.longitude.to_s %>&zoom=19&size=400x400&markers=color:green%7Clabel:R%7C<%= @restaurant.latitude.to_s %>,<%= @restaurant.longitude.to_s %>&sensor=false' alt="Location" ></td>
    </tr>
  </tbody>
</table>

<%- if current_owner == @restaurant.owner %>
  <h2>Reservations</h2>
  <table class="table table-striped">
    <tr>
      <th>Email</th>
      <th>Reserved Time</th>
      <th>Message</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <%- @restaurant.reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.email %></td>
        <td><%= reservation.date_time %></td>
        <td><%= reservation.message %></td>
        <td><%= link_to 'Marked as Confirmed', owner_restaurant_reservation_path(current_owner, @restaurant, :id=>reservation.id), :method => :delete, :confirm => 'Mark this reservation confirmed?' %></td>
      </tr>
           <td><%= link_to 'Edit', edit_owner_restaurant_reservation_path(current_owner, @restaurant, :id=>reservation.id), :class => 'btn' %></td>
    <%- end %>
  </table>
<%- else %>
  <h2>New Reservation</h2>
  <%= render 'reservations/form', :reservation => @reservation %>
<%- end %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              restaurants_path, :class => 'btn'  %>

</div>
