<h1>Restaurant Information</h1>
<div>
<p><%= image_tag(@restaurant.image_url(:masthead)) if @restaurant.image? %></p>

<h3><%= @restaurant.name %> </h3>

<h5>Description:</h5>
<p><%= @restaurant.description %> </p>

<h5>Address:</h5>
<p><%= @restaurant.address %> </p>

<h5>Phone:</h5>
<p><%= @restaurant.phone %> </p>
<p>
	<%= link_to 'Make a Reservation', new_restaurant_reservation_path(@restaurant)  %>
</p>

<% if current_owner %>
<% if current_owner.id == @restaurant.owner_id %>
<%= link_to 'Edit', edit_restaurant_path, :class => "btn btn-primary" %>
<%= link_to 'Delete', restaurant_path, :class => "btn btn-primary btn-danger", :confirm => 'Are You Sure?', :method => :delete %>

<% end %>
<% end %>
<p>
<%= link_to 'Home', restaurants_path %>
</p>
</div>
<div>
	<% if current_owner && current_owner.id == @restaurant.owner_id %>
		<h3>Reservations</h3>
		<table class="table table-hover">
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Time</th>
				<th></th>
			</tr>
			<% @restaurant.reservations.each do |x| %>
				<tr>
					<td><%= x.name %></td>
					<td><%= x.email %></td>
					<td><%= x.requested_datetime %></td>
					<td><%= link_to 'Delete', restaurant_reservation_path(@restaurant, x), :class => "btn btn-primary btn-danger", :confirm => 'Are You Sure?', :method => :delete %></td>
				</tr>
			<% end %>
		</table>

	<% end %>
</div>
