
<p>
	<%= image_tag @restaurant.image_url(:masthead).to_s if @restaurant.image? %>
</p>
<p>
	<strong>Restaurant:</strong>
	<%= @restaurant.name %>
</p>

<p>
	<strong>Description:</strong>
	<%= @restaurant.description %>
</p>

<p>
	<strong>Address:</strong>
	<%= @restaurant.address %>
</p>

<p>
	<strong>Phone Number:</strong>
	<%= @restaurant.phone_number %>
</p>
<p>
	<strong>Menu:</strong>
	<%= link_to "View Menu", @restaurant.menu_url if @restaurant.menu? %>
</p>

<%= link_to "Edit", edit_restaurant_path(@restaurant) %>
<%= link_to "Delete", restaurant_path(@restaurant), method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to "Back", restaurants_path %>