<%- model_class = Restaurant -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @restaurant.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @restaurant.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @restaurant.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone_number) %>:</strong></dt>
  <dd><%= @restaurant.phone_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:owner) %>:</strong></dt>
  <dd><%= @restaurant.owner.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:image) %>:</strong></dt>
  <dd><%= image_tag @restaurant.image.masthead.url if @restaurant.image? %></dd>
  <dt><strong><%= model_class.human_attribute_name(:menu) %>:</strong></dt>
  <dd><%= link_to "View Menu", @restaurant.menu.url if @restaurant.menu? %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              restaurants_path, :class => 'btn'  %>
  <% if current_owner == @restaurant.owner && !current_owner.blank? %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_restaurant_path(@restaurant), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              restaurant_path(@restaurant),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  <% end %>
</div>
<div>
  <% if @restaurant.owner == current_owner && !@restaurant.reservations.blank? %>
  <h2>Reservations</h2>
  <table style="width:600px;text-align:center;">
    <th>Email</th><th>Date &amp; Time</th><th>Message</th>
  <% @restaurant.reservations.each do |res| %>
    <tr><td><%= res.email %></td><td><%= res.reserve_on %></td><td><%= res.message %></td><td><%= link_to "Mark as Confirmed", reservation_path(res), :method => 'delete' %></td></tr>
  <% end %>
  </table>
  <% end %>
</div>

<div>
<h2>New Reservation</h2>
  <%= render 'reservations/form', :restaurant => @restaurant, :reservation => @reservation %>
</div>
