<p id="notice"><%= notice %></p>

<h1><%= current_restaurant.name %></h1>
<p><%= current_restaurant.description %></p>

<%= image_tag current_restaurant.photo.masthead.url if current_restaurant.photo? %>

<dl>
  <dt>Phone</dt>
  <dd><%= current_restaurant.phone %></dd>
  <dt>Address</dt>
  <dd><%= current_restaurant.address %></dd>
  <dt>Owner</dt>
  <dd><%= current_restaurant.owner.name if current_restaurant.owner %></dd>
</dl>

<%- if current_owner == current_restaurant.owner %>
  <h2>Reservations</h2>
  <table class="table table-striped">
    <tr>
      <th>Email</th>
      <th>Reserve On</th>
      <th>Message</th>
      <th></th>
    </tr>
    <%- current_restaurant.reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.email %></td>
        <td><%= reservation.reserve_on %></td>
        <td><%= reservation.message %></td>
        <td><%= link_to 'Marked as Confirmed', reservation_path(reservation), :method => :delete, :confirm => 'Mark this reservation confirmed?' %></td>
      </tr>
    <%- end %>
  </table>
<%- else %>
  <h2>New Reservation</h2>
  <%= render 'reservations/form', :reservation => @reservation, :restaurant => current_restaurant %>
<%- end %>

<%- if current_owner == current_restaurant.owner && !current_owner.blank? %>
  <%= link_to 'Edit', edit_restaurant_path(current_restaurant) %> |
  <%= link_to 'Destroy', restaurant_path(current_restaurant), :method => :delete, :confirm => 'Are you sure that you want to delete this restaurant?' %> |
<%- end %>

<%= link_to 'Back', restaurants_path %>
