
<div class="page-header">
  <h1>Restaurant</h1>
</div>

<div class="container">
    <h3>Another awesome Restaurant by <%= @restaurant.owner.name %></h3>
    <div class="row">
        <div class="span6">
            <dl class="dl-horizontal">
              <dt><strong>Name:</strong></dt>
              <dd><%= @restaurant.name %></dd>
              <dt><strong>Description:</strong></dt>
              <dd><%= @restaurant.description %></dd>
              <dt><strong>Picture:</strong></dt>
              <dd><%= image_tag(@restaurant.image_url(:masthead).to_s) %></dd>  
              <dt><strong>Address:</strong></dt>
              <dd><%= @restaurant.streetnumber %> <%= @restaurant.street %>, <%= @restaurant.zipcode %> <%= @restaurant.city %>, <%= @restaurant.state %> </dd>
              <dt><strong>Phonenumber:</strong></dt>
              <dd><%= @restaurant.phonenumber %></dd>
            </dl>

            <div class="form-actions">
              <%= link_to 'Back', root_path, :class => 'btn'  %>
              <% if current_owner == @restaurant.owner %>
                <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          {:action => 'edit', :id => @restaurant.id}, :class => 'btn' %>
                <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          {:action => 'delete', :id => @restaurant.id},
                          :method => 'delete',
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-danger' %>
              <% end %>
            </div>
        </div>
        <div class="span6">
        <% if current_owner == @restaurant.owner %>
            <div class="well">
                <h3>Your Upcoming Reservations for <%= @restaurant.name %></h3>
                    <table class="table table-hover table-condensed">
                    <%= bootstrap_flash %>
                    <% if @restaurant.reservations.blank? %>
                          <h3 class="alert alert-info">You have no scheduled reservations!<h3>
                    <% else %>    
                    <thead>
                        <tr>
                        <strong>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Guests</th>                           
                          <th>Reservation Time</th> 
                          <th>Message</th>           
                          <th><%=t '.actions', :default => t("helpers.actions") %></th>
                        </strong>
                        </tr>
                    </thead>
                    <tbody>            
                        <% @restaurant.reservations.each do |reservation| %> 
                        <tr>
                            <td><%= reservation.guestname %></td>
                            <td><%= reservation.guestemail %></td>
                            <td><%= reservation.guestnumber %></td>
                            <td><%= reservation.reserve_on %></td>       
                            <td><%= reservation.message %></td>
                            <td><%= link_to('Delete', reservation_path(reservation), :method => :delete, :confirm => "Press OK to confirm and delete this reservation?", :class => 'btn btn-danger') %>
                            </td>
                        </tr>
                        <% end %>
                        <% end %> 
                    </tbody>
                    </table>
            </div>
        <% else %>
            <h3>Make a Reservation</h3>
                <%= bootstrap_flash %>
               <%= render :partial => '/reservations/reservation_form' %>
        <% end %>

        </div>
    </div>
</div>
