<div class="page-header">
  <h1>Search by Categories</h1>
</div>

<div id="categories" style="float:left">
  <%= form_for @restaurant do |f| %>
    <p>
      <%= f.label :category_ids, "Search" %>
      <br />
      <%= f.select :category_ids,
  Category.all.map { |cat| [cat.name, cat.id] },
  { include_blank: true },
  { multiple: true, class: 'chzn-select' } %>
    </p>
  <% end %>
</div>

<script id="restaurant_fill" type="text/html">
<% @categories = Category.where(:id => [5, 2]) %>
<% @restaurants = @categories.map(&:restaurants).flatten.uniq %>
<% for category in @categories %>
<%= category.name %><br />
<% end %>
<% for restaurant in @restaurants %>
<%= restaurant.name %><br />
<% end %>

</script>
<div style="clear:left" id="restaurants_by_cat">
</div>


