<!DOCTYPE html>
<html>
<head>
  <title>RestaurantsApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <% if owner_signed_in? %>
  <%= link_to "Sign Out", destroy_owner_session_path, method: :'delete' %>
  <%= link_to "Dashboard", dashboard_path %>
  <% else %>
  <%= link_to "Sign In", new_owner_session_path %>
  <% end %>
</head>
<body>

<%= yield %>

</body>
</html>
