<!DOCTYPE html>
<html>
<head>
	<title>Reservester</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<%= nav_bar :fixed => :top, :brand => "Reservester", :brand_link => restaurants_path do %>
	<% if owner_signed_in? %>

	<% menu_group :pull => :right do %>
	<li class="navbar-text">Hello, <%= current_owner.name %>   </li>
	<%= menu_item "Edit profile", edit_owner_registration_path %>
	<%= menu_item "Log Out", destroy_owner_session_path, method: :delete %>
	<% end %>
	<% else %>
	<% menu_group :pull => :right do %>
	<%= menu_item "Sign Up", new_owner_registration_path %>
	<%= menu_item "Login", new_owner_session_path %>
	<% end %>
	<% end %>
	<% end %>
</head>
<body>
	<div class="container">
		<% flash.each do |name, msg| %>
		<div class="alert alert-<%= name == :notice ? "success" : "error" %>">
			<a class="close" data-dismiss="alert">x</a>
			<%= msg %>
		</div>
		<% end %>
		<%= yield %>
	</div>
</body>
</html>