<!DOCTYPE html>
<html>
<head>
  <title>Reservester</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, inital-scale=1.0">
</head>
<body>

	<%= nav_bar :fixed => :top, :brand => "Reservester", :brand_link => restaurants_path do %>
	    <% if owner_signed_in? %>
	    	<% menu_group :pull => :right do %>
				<%= menu_item "Edit profile", edit_owner_registration_path %>
	        	<%= menu_item "Log Out", destroy_owner_session_path, method: :delete %>
	    	<% end %>
	    <% else %>
	        <% menu_group :pull => :right do %>
	            <%= menu_item "Sign Up", new_owner_registration_path %>
	            <%= menu_item "Login", new_owner_session_path %>
	        <% end %>
	    <% end %>
	<% end %>

	<div class="container">
		<% flash.each do |name, msg| %>
			<div class="alert alert-<%= name == :notice ? "success" : "error" %>">
				<a class="close" data-dismiss="alert">x</a>
				<%= msg %>
			</div>
<% end %>
	 	<%= yield %>
			</div>

</body>
</html>
