<!DOCTYPE html>
<html>
<head>
  <title>Reservester</title>
  <!--[if lt IE 9]>
  	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device=width, initial-scale=1.0">
</head>
<body style="background: #EEEEEE;">
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#">Reservester</a>
			<div class="nav=collapse">
				<ul class="nav">
					<li><%= link_to "Add Restaurant", new_restaurant_path %></li>
					<% if owner_signed_in? %>
					<li>Logged in as <%= current_owner.name %></li>
  					<li><%= link_to 'Edit profile', edit_owner_registration_path %></li>
  					<li><%= link_to "Logout", destroy_owner_session_path, method: :delete %></li>
					<% else %>
  					<li><%= link_to "Sign up", new_owner_registration_path %></li>
  					<li><%= link_to "Login", new_owner_session_path %></li>
					<% end %>


				</ul>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<% if notice %>
	<p class="notice"><%= notice %></p>
	<% end %>
	<% if alert %>
	<p class="alert"><%= alert %></p>
	<% end %>
	<div class="row">
		
		<div class="span9"><%= yield %></div>
		
		<div class="span3"></div>
			
			<h2> About Us </h2>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tristique in justo quis luctus. Sed risus nulla, consectetur eget bibendum sed, laoreet at nisi. Cras imperdiet rhoncus tortor, eget aliquet arcu. Donec congue non enim quis mattis.
	</div>

</div>

</body>
</html>
