<!DOCTYPE html>
<html>
<head>
  <title>Reservester</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
<!-- login or logout navbar -->
<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <%= link_to "Reservester", root_path, :class => "brand" %>
    <ul class="nav">
      <% if !current_owner.blank? %>
      <li><%= link_to "Dashboard", '/dashboard' %></li>
      <li><%= link_to "Logout", destroy_owner_session_path, method: :delete %></li>
      <% else %>
      <li><%= link_to "Login", new_owner_session_path %></li>
      <% end %>
    </ul>
  </div>
</div>
<!-- end navbar -->
<% if notice %>
<div class="notice"><%= notice %></div>
<% end %>
<% if alert %>
<div class="alert"><%= alert %></div>
<% end %>
<%= yield %>
</div>
</body>
</html>
