<!DOCTYPE html>
<html>
<head>
  <title>Reservester</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

	<p><%= link_to 'Restaurants', restaurants_path %></p>
	<%- if current_owner %>
		<p><%= current_owner.name %></p>
		<p><%= link_to 'dashboard', dashboard_path %></p>
		<p><%= link_to 'logout', destroy_owner_session_path, :method => :delete %></p>
	<%- else %>
		<p><%= link_to 'login', new_owner_session_path %></p>
		<p><%= link_to 'sign up', new_owner_registration_path %></p>
	<%- end %>

	<div class="container">
		<%= yield %>
	<div>

</body>
</html>
