<!DOCTYPE html>
<html>
<head>
  <title>Reservester</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- login or logout navbar -->
<div class="navbar">
  <div class="navbar-inner">
    <%= link_to "Reservester", root_path, :class => "brand" %>
    <ul class="nav">
      <li>
      <% if owner_signed_in? && current_owner %>
      	<%= link_to "Logout", destroy_owner_session_path, method: :delete %>
      <% else %>
      	<%= link_to "Login", new_owner_session_path %>
      <% end %>
      </li>
    </ul>
  </div>
</div>
<!-- end navbar -->
<% if notice %>
<div class="notice"><%= notice %></div>
<% end %>
<% if alert %>
<div class="alert"><%= alert %></div>
<% end %>
<%= yield %>

</body>
</html>
