<!DOCTYPE html>
<html>
<head>
  <title>Reservester</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">
		<div id="nav-collapse collapse">
            <% if owner_signed_in? %>
              Logged in as <strong><%= current_owner.email %></strong>.
              <%= link_to 'Edit profile', edit_owner_registration_path %>
              <%= link_to "Logout", destroy_owner_session_path, method: :delete %>
            <% else %>
              <%= link_to "Sign up", new_owner_registration_path %>
              <%= link_to "Login", new_owner_session_path %>
            <% end %>
        </div>
    </div>

	<% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
