<!DOCTYPE html>
<html>
<head>
  <title>Reservester</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application" %>
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand" href="#">Reservester</a>
        <div style="float:right">
          <div class="nav">
            <ul class="nav nav-pills" style="display:inline">
                <% if owner_signed_in? %>
              <li>
                  <%= link_to 'Logged in as '+current_owner.username, edit_owner_registration_path %>
              </li>
              <li>
                  <%= link_to "Logout", destroy_owner_session_path, method: :delete %>
                <% else %>
              </li>
              <li>
                  <%= link_to "Sign up", new_owner_registration_path %>
              </li>
              <li>
                  <%= link_to "Login", new_owner_session_path %>
              </li>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" style="margin-top:40px">
      <% if notice %>
      <div class="alert alert-info" style="margin-top:40px">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= notice %>
      </div>
      <% end %>
        <% if alert %>
      <div class="alert alert-error" style="margin-top:40px">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= alert %>
      </div>
      <% end %>


      <%= yield %>
  </div>





</body>
</html>
